body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-color:wheat;
}

a {
	color:white;
}

.name {
	font-size:120px;
	padding:13px;
	padding-top:60px;
	color:lightyellow;
	text-align:center;
}

.a {
	color:black;
	font-size:80px;
	padding:10px;
	border:1px solid black;
	width:33%;
	display:inline-block;
}

.img {
	border-radius:50px;
}


