body {
	background-color:wheat;
}

a {
	color:white;
	text-decoration:none;
}

a:hover{
	color:mediumpurple;
	background-color:palegreen;
}


.square {
	font-size:12.5vw;
	padding:2vw;
	font-family:helvetica,arial,sans-serif;
	color:wheat;
	text-align:center;
	background-color:lightyellow;
	
}

.link {
	font-family:helvetica,arial,sans-serif;
	font-size:4vw;

	border:0.1vw solid lightyellow;
	display:inline-block;
	width:33%;
	text-align:center;
	padding:0.3vw;
}

.hero {
	width:600px;
	margin:auto;
}

.hero img{
	width:100%;
}

.circle {
	font-size:4vw;
	width: 100px;
    height: 100px;
    background:lightyellow;
    border-radius: 50%
}


